[include]
  path = ~/.gitcredentials
  path = ~/Dotfiles/git/.catppuccin.gitconfig

[init]
  defaultBranch = main

[core]
  excludesfile = ~/.gitignore
  pager = delta

[color]
  ui = auto

[color "diff"]
  meta = yellow

[grep]
  lineNumber = true

[pull]
  rebase = true

[push]
  default = simple
  autoSetupRemote = true

[branch]
  autosetupmerge = true
  autosetuprebase = always

[delta]
  line-numbers = true
  side-by-side = false
  # features = catppuccin-macchiato
  # https://github.com/dandavison/delta/issues/1678
  file-modified-label = modified:

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3
